* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .top-bar {
    background-color: rgba(92, 241, 241, 0.651);
    border-radius: 4px;
    padding: 10px;
  }

  .main-page {
    margin-left: 20px;
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }

  .carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
  }

  .carousel .carousel_item,
  .carousel .carousel_item_hidden {
    display: none;
  }

  .carousel .carousel_item img {
    width: 100%;
    max_width:600px;
    height:auto;
  }

  .carousel .carousel_item_visible {
    display:block;
    animation: fadeVisibility 0.5s;
  }

  .carousel .carousel_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  button:hover {
    background-color: orangered;
    border: 3px solid rgba(0, 139, 139, 0.8);
    align-items: center;
  }


  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 20px;
    flex: 1;
  }

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}