body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.border-left {
    width: 80px;
    height: 790px;
    position:  absolute;
    background-color: white;
}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    left: 580px;
}

.border-top {
    width: 660px;
    height: 50px;
    position:  absolute;
    background-color: white;
    top: -50px;
}

.sky {
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}

.bird {
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstacle {
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    width: 60px;
    height: 300px;
    position: absolute;
}

  .ground-container {
      height: 150px;
      width: 580px;
      left: 80px;
      position:  absolute;
  }
  
  .ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    width: 100%;
  }